fastapi
uvicorn
sqlalchemy
python-socketio
python-multipart
python-jose
passlib[bcrypt]
bcrypt==4.0.1
pandas
numpy
scikit-learn
joblib
shap
psutil
requests
fpdf
httpx
# New dependencies for Scalability & AI
psycopg2-binary
celery
redis
torch
